<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdh.mapper.CkCkdxMapper">

    <resultMap id="BaseResultMap" type="org.tdh.domain.CkCkdx">
        <id property="cklsh" column="CKLSH" jdbcType="VARCHAR"/>
        <result property="zjlx" column="ZJLX" jdbcType="VARCHAR"/>
        <result property="zjhm" column="ZJHM" jdbcType="VARCHAR"/>
        <result property="mc" column="MC" jdbcType="VARCHAR"/>
        <result property="cbr" column="CBR" jdbcType="VARCHAR"/>
        <result property="sjy" column="SJY" jdbcType="VARCHAR"/>
        <result property="hjszd" column="HJSZD" jdbcType="VARCHAR"/>
        <result property="gj" column="GJ" jdbcType="VARCHAR"/>
        <result property="zt" column="ZT" jdbcType="VARCHAR"/>
        <result property="ah" column="AH" jdbcType="VARCHAR"/>
        <result property="fydm" column="FYDM" jdbcType="VARCHAR"/>
        <result property="djpc" column="DJPC" jdbcType="VARCHAR"/>
        <result property="ssdw" column="SSDW" jdbcType="VARCHAR"/>
        <result property="ckfw" column="CKFW" jdbcType="VARCHAR"/>
        <result property="lastupdate" column="LASTUPDATE" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        CKLSH
        ,ZJLX,ZJHM,
        MC,CBR,SJY,
        HJSZD,GJ,ZT,
        AH,FYDM,DJPC,
        SSDW,CKFW,LASTUPDATE
    </sql>

    <insert id="insert" parameterType="org.tdh.domain.CkCkdx">
        insert into ck_ckdx (<include refid="Base_Column_List"/>)
        values (#{cklsh},#{zjlx},#{zjhm},#{mc},#{cbr},
        #{sjy},#{hjszd},#{gj},#{zt},#{ah},#{fydm},#{djpc},
        #{ssdw},#{ckfw},#{lastupdate})
    </insert>

    <insert id="insertSelective" parameterType="org.tdh.domain.CkCkdx">
        insert into ck_ckdx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cklsh != null">
                cklsh,
            </if>
            <if test="zjlx != null">
                zjlx,
            </if>
            <if test="zjhm != null">
                zjhm,
            </if>
            <if test="mc != null">
                mc,
            </if>
            <if test="cbr != null">
                cbr,
            </if>
            <if test="sjy != null">
                sjy,
            </if>
            <if test="hjszd != null">
                hjszd,
            </if>
            <if test="gj != null">
                gj,
            </if>
            <if test="zt != null">
                zt,
            </if>
            <if test="ah != null">
                ah,
            </if>

            <if test="fydm != null">
                fydm,
            </if>
            <if test="djpc != null">
                djpc,
            </if>
            <if test="ssdw != null">
                ssdw,
            </if>
            <if test="ckfw != null">
                ckfw,
            </if>
            <if test="lastupdate != null">
                lastupdate,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cklsh != null">
                #{cklsh},
            </if>
            <if test="zjlx != null">
                #{zjlx},
            </if>
            <if test="zjhm != null">
                #{zjhm},
            </if>
            <if test="mc != null">
                #{mc},
            </if>
            <if test="cbr != null">
                #{cbr},
            </if>
            <if test="sjy != null">
                #{sjy},
            </if>
            <if test="hjszd != null">
                #{hjszd},
            </if>
            <if test="gj != null">
                #{gj},
            </if>
            <if test="zt != null">
                #{zt},
            </if>
            <if test="ah != null">
                #{ah},
            </if>
            <if test="fydm != null">
                #{fydm},
            </if>
            <if test="djpc != null">
                #{djpc},
            </if>
            <if test="ssdw != null">
                #{ssdw},
            </if>
            <if test="ckfw != null">
                #{ckfw},
            </if>
            <if test="lastupdate != null">
                #{lastupdate},
            </if>
        </trim>
    </insert>

    <update id="updateCkdxByCklsh">
        update ck_ckdx
        <set>
            <if test="zjlx != null">
                zjlx = #{zjlx},
            </if>
            <if test="zjhm != null">
                zjhm = #{zjhm},
            </if>
            <if test="mc != null">
                mc = #{mc},
            </if>
            <if test="cbr != null">
                cbr = #{cbr},
            </if>
            <if test="sjy != null">
                sjy = #{sjy},
            </if>
            <if test="hjszd != null">
                hjszd = #{hjszd},
            </if>
            <if test="gj != null">
                gj = #{gj},
            </if>
            <if test="zt != null">
                zt = #{zt},
            </if>
            <if test="ah != null">
                ah = #{ah},
            </if>
            <if test="fydm != null">
                fydm = #{fydm},
            </if>
            <if test="djpc != null">
                djpc = #{djpc},
            </if>
            <if test="ssdw != null">
                ssdw = #{ssdw},
            </if>
            <if test="ckfw != null">
                ckfw = #{ckfw},
            </if>
            <if test="lastupdate != null">
                lastupdate = #{lastupdate},
            </if>
        </set>
        where cklsh = #{cklsh}
    </update>

    <delete id="deleteByDjpc">
        delete
        from ck_ckdx
        where djpc = #{djpc}
    </delete>
    <delete id="deleteByCklsh">
        delete from ck_ckdx where CKLSH in
        <foreach collection="array" item="cklsh" open="(" close=")" separator=",">
            #{cklsh}
        </foreach>
    </delete>

    <select id="selectAllByDjpc" resultType="org.tdh.domain.CkCkdx">
        select
        <include refid="Base_Column_List"/>
        from ck_ckdx where djpc = #{djpc}
    </select>

    <select id="selectAll" resultType="org.tdh.domain.CkCkdx">
        select
        <include refid="Base_Column_List"/>
        from ck_ckdx
        <where>
            <if test="ah != null and ah != ''">
                and ah like "%"#{ah}"%"
            </if>
            <if test="zt != null and zt != ''">
                and zt in (${zt})
            </if>
            <if test="mc != null and mc != ''">
                and mc like "%"#{mc}"%"
            </if>
            <if test="zjhm != null and zjhm != ''">
                and zjhm = #{zjhm}
            </if>
        </where>
        order by lastupdate desc
    </select>
</mapper>
