<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdh.mapper.CkCkdxMapper">

    <resultMap id="BaseResultMap" type="org.tdh.domain.CkCkdx">
            <id property="cklsh" column="CKLSH" jdbcType="VARCHAR"/>
            <result property="zjlx" column="ZJLX" jdbcType="VARCHAR"/>
            <result property="zjhm" column="ZJHM" jdbcType="VARCHAR"/>
            <result property="mc" column="MC" jdbcType="VARCHAR"/>
            <result property="cbr" column="CBR" jdbcType="VARCHAR"/>
            <result property="sjy" column="SJY" jdbcType="VARCHAR"/>
            <result property="hjszd" column="HJSZD" jdbcType="VARCHAR"/>
            <result property="gj" column="GJ" jdbcType="VARCHAR"/>
            <result property="zt" column="ZT" jdbcType="VARCHAR"/>
            <result property="ah" column="AH" jdbcType="VARCHAR"/>
            <result property="fydm" column="FYDM" jdbcType="VARCHAR"/>
            <result property="djpc" column="DJPC" jdbcType="VARCHAR"/>
            <result property="lastupdate" column="LASTUPDATE" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        CKLSH,ZJLX,ZJHM,
        MC,CBR,SJY,
        HJSZD,GJ,ZT,
        AH,FYDM,DJPC,
        LASTUPDATE
    </sql>
    <select id="getAll" resultType="org.tdh.domain.CkCkdx">
        select * from ck_ckdx;
    </select>

</mapper>
