<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tdh.mapper.CkJzMapper">

    <resultMap id="BaseResultMap" type="org.tdh.domain.CkJz">
            <id property="djpc" column="DJPC" jdbcType="VARCHAR"/>
            <id property="xh" column="XH" jdbcType="INTEGER"/>
            <result property="wjmc" column="WJMC" jdbcType="VARCHAR"/>
            <result property="wjlx" column="WJLX" jdbcType="VARCHAR"/>
            <result property="path" column="PATH" jdbcType="VARCHAR"/>
            <result property="lastupdate" column="LASTUPDATE" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        DJPC,XH,WJMC,
        WJLX,PATH,LASTUPDATE
    </sql>
</mapper>
